.row {
  height: 25px;
}

.choice {
  clear: both;
  float: left;
  width: 30px;
  height: 25px;
  line-height: 25px;
}
.content {
  float: left;
  width: 710px;
  height: 25px;
  line-height: 25px;
  text-align: left;
}
.question_title {
  clear: both;
  font-weight: bold;
  padding-top: 30px;
  text-align: left;
}
.highlight {
  background-color: #d3ffd6
}
