form {
  text-align: center;
}
i {
  color: red;
}
.add_question, .add_choice {
  width: 200px;
  height: 25px;
  background: blue;
  color: white;
  border-radius: 5px;
  margin: 0px auto 40px auto;
  line-height: 25px;
}
.add_question {
  background: green;
}

.add_question:active, .add_choice:active {
  background: yellow;
}

input[type="text"] {
  width: 50%;
  display: inline-block;
}
i {
  width: 6%;
  display: inline-block;
  padding-left: 10px;
}

#create_survey > input:first-child {
  position: relative;
  left: -10px;
  margin-bottom: 40px;
}

#create_survey {
  margin-top: 20px;
}
.question_charts, .question_stats {
  float: left;
  width: 44%;
  padding: 3%;
}

.question_stats div {
  height: 20px;
  line-height: 20px;
  margin: 5px;
}

.question_charts {

}
.question_charts div {
  height: 20px;
  background: linear-gradient(left, #006100 0%, #008000 100%);
  background: -webkit-linear-gradient(left, #006100 0%, #008000 100%);
  border-radius: 5px;
  margin: 5px;
  text-align: right;
  color: rgba(255,255,255,0.0);
  font-weight: 100;
  padding-right: 5px;
}
.question_charts div span {
  color: white;
  display: none;
  height: 20px;
  line-height: 20px;
  font-size: 10pt;
  text-align: right;
}
.question_title {
  clear: both;
}
