<h1>Create a Survey:</h1>
  <form id="create_survey" action="/survey/create" method="post">
  <input type="text" name="title" placeholder="Survey Title" class="survey-title"><br>
  <div class="question_forms"></div>
  <div class="add_question button green">Add Question</div>
  <input type="submit" value="Create!" class="button blue big">


