<a href="/survey/list" class="index_menu button blue" id="list_surveys">List Surveys</a>
<a href="/survey/create" class="index_menu button green" id="create_survey_button">Create Survey</a>
<a href="/user/surveys" class="index_menu button purple" id="my_surveys">My Surveys</a>
