<a href="/survey/list" class="index_menu button red" id="list_surveys">List Surveys</a>
<a href="/survey/create" class="index_menu button red" id="create_survey_button">Create Survey</a>
<a href="/user/surveys" class="index_menu button red" id="my_surveys">My Surveys</a>
<a href="/logout" class="button red" id="logout">Logout</a>
