  <h1>Sign Up</h1>
  <% if @user.errors.any? %>
    <div id="errors">
      <%= erb :_errors, :layout => false, :locals => { :model => @user } %>
    </div>
  <% end %>
  <form id="sign-up" method="post" action="/users">
    <label class="label" for="name">Name</label>
    <input type="text" name="user[name]" placeholder="e.g., joe" value="<%= @user.name %>">
    <span id="name-errors" class="errors"></span>
    <br>

    <label class="label" for="email">Email</label>
    <input type="email" name="user[email]" placeholder="e.g., me@example.com" value="<%= @user.email %>">
    <span id="email-errors" class="errors"></span>
    <br>

    <label class="label" for="password">Password</label>
    <input type="password" name="user[password]" placeholder="6 or more characters">
    <span id="entered_password-errors" class="errors"></span>    
    <br>

    <input class="button" type="submit" value="Sign Up">
  </form>

  <a class="toggle_sign_in_up" href="/login">Already have an Account? Sign In!</a>
