<div class="sign_in_up_container">
<form id="sign-in" method="post" action="/sessions">
<h1>Sign In</h1>
  <% if @error %>
    <div class="errors"><%= @error %></div>
  <% end %>
  <div class="form_wrapper">
    <label class="label" for="email">Email</label>
    <input type="email" name="email" placeholder="email" value="<%= @email %>">
    <label class="label" for="password">Password</label>
    <input type="password" name="password" placeholder="password">
  </div>

  <input class="button blue" type="submit" value="Sign In">
</form>

<a class="toggle_sign_in_up" href="/signup">Don't have an Account? Sign Up!</a>
</div>
