<div class="container">
  
    <div class="index_sidebar_left">
      <%= erb :_menu_links %>
    </div>

    <div class="index_sidebar_right">
      <h1>What do you want to do?</h1>
      <p>Pick something from the menu!</p>
    </div>
</div>
