<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/survey.css">
  <link rel="stylesheet" href="/css/forms.css">
  <link rel="stylesheet" href="/css/survey_form.css">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/survey.js"></script>
  <title></title>
</head>
<body id="body">
  <div id="chimp"></div>
  <nav>

    <div class="brand"><a href="/">Survey Chimp</a></div>

    <ul>
      <% if current_user %>
        <li><a href="/user/surveys">My Surveys</a></li>
        <li><a href="/user/<%= current_user.id %>/profile">Edit Profile</a></li>
        <li><a id="sign-out" href="/logout">Sign Out</a></li>
      <% else %>
        <li><a href="/sessions/new">Sign In</a></li>
        <li><a href="/users/new">Sign Up</a></li>
      <% end %>
    </ul>

  </nav>

  <%= yield %>
</body>
</html>
