<%= erb :_signin %>

<script>
  $(document).ready(function() {
    $('.sign_in_up_container').on('click', '.toggle_sign_in_up', function(event){
      event.preventDefault();
      $.ajax({
        type: "GET",
        url: $(this).attr('href'), 
        beforeSend: function() {
          $('.sign_in_up_container').slideUp();
          // $('.container').html('<div id=\'loader\'></div>');
        },
        success: function(data) {
        $('.sign_in_up_container').hide().html(data).slideDown();
        }
      });
    });
  });
</script>
